# set scope (@this-oliver sets the package to private)
@ssasy-auth:registry=https://npm.pkg.github.com

# note: set github token in your environment variables by running
# `echo "export GITHUB_TOKEN=<insert-github-token-here>" >> ~/.zshenv
# so that it is available in your shell
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# template config
shamefully-hoist=true
auto-install-peers=true
